<style>
	.editor__toolbar{
		display: inline-block;
		background-color: #34495E;
		border-radius: 6px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		position: fixed;
		margin-top: 10px;
		margin-left: 10px;
		right: 10px;
		padding: 4px 10px;
		opacity: 0.3;
		color: rgba(255,255,255,0.4);
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.editor__toolbar:hover{
		opacity: 1;
	}

	.editor__button{
		color: #fff;
		display: inline;
		opacity: 0.6;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		margin-left: 10px;
	}

	.editor__button.first{
		margin-left: 0;
	}

	.editor__button:hover{
		opacity: 1;
		color: #fff;
		cursor: pointer;
	}

	.editor__fullscreen{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 9999999;
	}

	.editor--iframe-field{
		background-color: #20262c;
		width: 100%;
		height: 100%;
		max-width: 100%;
		-webkit-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		display: block;
		margin: 0 auto;
	}

	#editor__page{
		width: 100%;
		height: 100%;
		max-width: 100%;
		-webkit-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		display: block;
		margin: 0 auto;
	}

	#editor__page.editor__desktop{
		max-width: 100%;
	}

	#editor__page.editor__mobile{
		max-width: 400px;
		margin: 0px auto;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}

	#editor__page.editor__mobile::after{
		content: 'MOBILE SIZE';
	}

	#editor__page.editor__tablet{
		max-width: 750px;
		margin: 0px auto;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}

	#editor__page.editor__tablet::after{
		content: 'TABLET SIZE';
	}

	.control-tabs.secondary-tabs.editor__fullscreen .editor__expand{ display: none; }
	.control-tabs.secondary-tabs:not(.editor__fullscreen) .editor__compress{ display: none; }
	.control-tabs.secondary-tabs.editor__fullscreen .tab-collapse-icon.primary{ display: none }
</style>
<div class="editor__toolbar">
	<a onclick="editor__refresh()" class="editor__button first"><i class="fa fa-refresh"></i></a>
	<a onclick="editor__expand()" class="editor__button editor__expand"><i class="fa fa-expand"></i></a>
	<a onclick="editor__compress()" class="editor__button editor__compress"><i class="fa fa-compress"></i></a>
	&nbsp;&nbsp;|&nbsp;&nbsp;
	<a onclick="editor__size('desktop')" class="editor__button first"><i class="fa fa-desktop"></i></a>
	<a onclick="editor__size('tablet')" class="editor__button"><i class="fa fa-tablet"></i></a>
	<a onclick="editor__size('mobile')" class="editor__button"><i class="fa fa-mobile"></i></a>
</div>
<div class="editor--iframe-field">
	<iframe id="editor__page" src="<?= isset($pageUrl) ? url($pageUrl) : null ?>" frameborder="0" width="100%" height="100%"></iframe>
</div>
<script>
	function editor__refresh(){
		document.getElementById('editor__page').src = document.getElementById('editor__page').src;
	}

	function editor__expand(){
		$('.control-tabs.secondary-tabs').addClass('editor__fullscreen');
	}

	function editor__compress(){
		$('.control-tabs.secondary-tabs').removeClass('editor__fullscreen');
	}

	function editor__size(sizeMode){
		$('#editor__page').removeClass().addClass('editor__' + sizeMode);
	}
</script>