<ul class="editor--blocks-list">
	{% for block in blocks %}
	<li class="editor--block" draggable="true" id="block-{{ block.id }}">
		{% if block.icon %}
			<i class="fa fa-{{ block.icon }}"></i>
		{% else %}
			<div class="editor--block-icon">
				<img src="{{ block.image|theme }}" alt="" width="26">
			</div>
		{% endif %}
		<h4>{{ block.title }}</h4>
		<p>{{ block.description }}</p>
		<div class="editor--block-content">
			{{ block.markup|raw }}
		</div>
	</li>
	{% else %}
		<img src="{{ url('/plugins/netsti/editor/assets/images/placeholder.png') }}" alt="">
	{% endfor %}
</ul>
<script>
	$(function() {
		$('.editor--block').on('dragstart', function (e) {
			e.originalEvent.dataTransfer.setData('Text', this.id);

			var element = e.target;
			setTimeout(function(){
				element.classList.add('editor--ondrag');
			});
		}).on('dragend', function (e) {
			var element = e.originalEvent.srcElement;
			element.classList.remove('editor--ondrag');
		});
	});
</script>