/*!
 * froala_editor v2.5.1 (https://www.froala.com/wysiwyg-editor)
 * License https://froala.com/wysiwyg-editor/terms/
 * Copyright 2014-2017 Froala Labs
 */

body, html{
	max-width: 100% !important;
	width: 100%;
}

body{
	display: block;
	position: relative;
	margin: 0 auto; 
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
html{
	padding: 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
html.editor--responsive{
	background-color: #20262c;
	padding: 10px 0px 80px;
}

body .editor--page-content{
	max-width: 100%;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0 14px rgba(0,0,0,0.4)
}
body.desktop{max-width: 100%; width: 100%}
body.tablet{max-width: 768px; width: 768px}
body.mobile{max-width: 320px; width: 320px}

.clearfix::after {
  clear: both;
  display: block;
  content: "";
  height: 0;
}
.hide-by-clipping {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.dark-theme.fr-box.fr-basic .fr-element {
  padding: 12px;
  overflow-x: auto;
  min-height: 40px;
  border: 2px dashed rgba(243, 156, 18, 0.1);
  border-radius: 3px;
}
.dark-theme.fr-box.fr-basic .fr-element:before{
	content: 'EDITABLE';
	background-color: rgba(243, 156, 18, 0.1);
	position: absolute;
	display: inline-block;
	top: 0px;
    right: 0px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    padding: 2px 6px;
    font-family: Verdana, Geneva, sans-serif;
    border-radius: 0 0 0 5px;
}
.editor--editable-mode [data-popup-attribute] {
  padding: 12px;
  overflow-x: auto;
  min-height: 40px;
  border: 2px dashed rgba(243, 156, 18, 0.1);
  border-radius: 3px;
  position: relative;
}
.editor--editable-mode [data-popup-attribute]:before{
	content: 'EDITABLE';
	background-color: rgba(243, 156, 18, 0.1);
	position: absolute;
	display: inline-block;
	top: 0px;
    right: 0px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    padding: 2px 6px;
    font-family: Verdana, Geneva, sans-serif;
    border-radius: 0 0 0 5px;
}
.editor--editable-mode [data-popup-attribute]:hover{
	background-color: rgba(243, 156, 18, .1);
}
.dark-theme .fr-element {
  -webkit-user-select: auto;
}
.dark-theme.fr-box a.fr-floating-btn {
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  height: 32px;
  width: 32px;
  background: #4c5866;
  color: rgb(112, 195, 169);
  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
  left: 0;
  top: 0;
  line-height: 32px;
  border: none;
}

.dark-theme.fr-box .fr-quick-insert.fr-on a.fr-floating-btn{
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.dark-theme.fr-box a.fr-floating-btn svg {
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -ms-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  fill: rgb(112, 195, 169);
}
.dark-theme.fr-box a.fr-floating-btn i {
  font-size: 14px;
  line-height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dark-theme.fr-box a.fr-floating-btn:hover {
  background-color: rgba(76, 88, 102, 0.9);
}
.dark-theme.fr-box a.fr-floating-btn:hover i{
	color: #70c3a9;
}
.dark-theme.fr-box a.fr-floating-btn:hover svg {
  fill: #70c3a9;
}
.dark-theme .fr-wrapper .fr-placeholder {
  font-size: 12px;
  color: #aaaaaa;
  top: 0;
  left: 0;
  right: 0;
}
.fr-wrapper ::selection{
	color: inherit;
}
.dark-theme .fr-wrapper ::selection {
	background-color: rgba(112, 195, 169, 0.3);
	outline: none;
	color: inherit;
}
.dark-theme .fr-wrapper ::-moz-selection {
	background-color: rgba(243, 156, 18, .1);
	outline: none;
	color: inherit;
}
.dark-theme.fr-box.fr-basic .fr-wrapper {
  background: transparent;
  border: 0px;
  border-top: 0;
  top: 0;
  left: 0;
}
.dark-theme.fr-box.fr-basic.fr-top .fr-wrapper {
  border-top: 0;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.dark-theme.fr-box.fr-basic.fr-bottom .fr-wrapper {
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
}
.dark-theme .fr-sticky-on.fr-sticky-ios {
  left: 0;
  right: 0;
}
.dark-theme.fr-box .fr-counter {
  color: #aaaaaa;
  background: #ffffff;
  border-top: solid 1px #ebebeb;
  border-left: solid 1px #ebebeb;
  border-radius: 2px 0 0 0;
  -moz-border-radius: 2px 0 0 0;
  -webkit-border-radius: 2px 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dark-theme.fr-box.fr-rtl .fr-counter {
  right: auto;
  border-right: solid 1px #ebebeb;
  border-radius: 0 2px 0 0;
  -moz-border-radius: 0 2px 0 0;
  -webkit-border-radius: 0 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dark-theme textarea.fr-code {
  background: #ffffff;
  color: #000000;
}
.dark-theme.fr-box.fr-code-view.fr-inline {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.dark-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch {
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  color: #ffffff;
  -moz-outline: 0;
  outline: 0;
  border: 0;
  padding: 12px 12px;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
}
.dark-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch i {
  font-size: 14px;
  width: 14px;
}
.dark-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch.fr-desktop:hover {
  background: rgba(0,0,0,.3);
}
.dark-theme.fr-popup .fr-colors-tabs {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 1px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 1px 1px rgba(0, 0, 0, 0);
}
.dark-theme.fr-popup .fr-colors-tabs .fr-colors-tab {
  color: #ffffff;
  padding: 8px 0;
}
.dark-theme.fr-popup .fr-colors-tabs .fr-colors-tab:hover,
.dark-theme.fr-popup .fr-colors-tabs .fr-colors-tab:focus {
  color: rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-colors-tabs .fr-colors-tab[data-param1="background"]::after {
  bottom: 0;
  left: 0;
  background: rgb(112, 195, 169);
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -ms-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
}
.dark-theme.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
  color: rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-color-set {
  line-height: 0;
}
.dark-theme.fr-popup .fr-color-set > span > i {
  bottom: 0;
  left: 0;
}
.dark-theme.fr-popup .fr-color-set > span .fr-selected-color {
  color: #ffffff;
  font-weight: 400;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.dark-theme.fr-popup .fr-color-set > span:hover,
.dark-theme.fr-popup .fr-color-set > span:focus {
  outline: 1px solid #ffffff;
}
.dark-theme .fr-drag-helper {
  background: rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-link:focus {
  outline: 0;
  background: rgba(0,0,0,.3);
}
.dark-theme .fr-file-upload-layer {
  border: dashed 2px #808080;
  padding: 25px 0;
}
.dark-theme .fr-file-upload-layer:hover {
  background: rgba(0,0,0,.3);
}
.dark-theme .fr-file-upload-layer.fr-drop {
  background: rgba(0,0,0,.3);
  border-color: rgb(112, 195, 169);
}
.dark-theme .fr-file-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dark-theme .fr-file-progress-bar-layer > h3 {
  margin: 10px 0;
}
.dark-theme .fr-file-progress-bar-layer > div.fr-loader {
  background: #c6e4fc;
}
.dark-theme .fr-file-progress-bar-layer > div.fr-loader span {
  background: rgb(112, 195, 169);
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.dark-theme .fr-file-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.dark-theme.fr-box.fr-fullscreen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tr {
  border: 0;
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tbody tr {
  border-bottom: solid 1px #595959;
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-help-modal table tbody td:first-child {
  color: #ffffff;
}
.dark-theme .fr-image-resizer {
  border: solid 1px rgb(112, 195, 169);
}
.dark-theme .fr-image-resizer .fr-handler {
  background: rgb(112, 195, 169);
  border: solid 1px #ffffff;
}
.dark-theme .fr-image-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.dark-theme .fr-image-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.dark-theme .fr-image-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.dark-theme .fr-image-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.dark-theme .fr-image-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .dark-theme .fr-image-resizer .fr-handler {
	width: 10px;
	height: 10px;
  }
  .dark-theme .fr-image-resizer .fr-handler.fr-hnw {
	left: -5px;
	top: -5px;
  }
  .dark-theme .fr-image-resizer .fr-handler.fr-hne {
	right: -5px;
	top: -5px;
  }
  .dark-theme .fr-image-resizer .fr-handler.fr-hsw {
	left: -5px;
	bottom: -5px;
  }
  .dark-theme .fr-image-resizer .fr-handler.fr-hse {
	right: -5px;
	bottom: -5px;
  }
}
.dark-theme.fr-image-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dark-theme .fr-image-upload-layer {
  border: dashed 2px rgba(255,255,255,0.7);
  padding: 25px 0;
}
.dark-theme .fr-image-upload-layer:hover {
  background: rgba(0,0,0,.3);
}
.dark-theme .fr-image-upload-layer.fr-drop {
  background: rgba(0,0,0,.3);
  border-color: rgb(112, 195, 169);
}
.dark-theme .fr-image-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dark-theme .fr-image-progress-bar-layer > h3 {
  margin: 10px 0; 
}
.dark-theme .fr-image-progress-bar-layer > div.fr-loader {
  background: #c6e4fc;
}
.dark-theme .fr-image-progress-bar-layer > div.fr-loader span {
  background: rgb(112, 195, 169);
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.dark-theme .fr-image-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.dark-theme.fr-modal-head .fr-modal-head-line i.fr-modal-more {
  -webkit-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -moz-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -ms-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
  -o-transition: padding 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
}
.dark-theme.fr-modal-head .fr-modal-head-line i.fr-modal-more.fr-not-available {
  opacity: 0;
  width: 0;
  padding: 12px 0;
}
.dark-theme.fr-modal-head .fr-modal-tags a {
  opacity: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: rgb(112, 195, 169);
  -webkit-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, background 0.2s ease 0s;
}
.dark-theme.fr-modal-head .fr-modal-tags a.fr-selected-tag {
  background: #2e2e2e;
}
.dark-themediv.fr-modal-body .fr-preloader {
  margin: 50px auto;
}
.dark-themediv.fr-modal-body div.fr-image-list {
  padding: 0;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-image-deleting::after {
  -webkit-transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  background: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-image-deleting::before {
  color: #ffffff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-empty {
  background: #aaaaaa;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container.fr-empty::after {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container img {
  -webkit-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -ms-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, filter 0.2s ease 0s;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img,
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img {
  -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, color 0.2s ease 0s;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  margin: 0;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img {
  background: #b8312f;
  color: #ffffff;
}
.dark-themediv.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img {
  background: #4C5866;
  color: rgb(112, 195, 169);
}
.dark-theme.dark-theme.fr-desktop .fr-modal-wrapper .fr-modal-head .fr-modal-tags a:hover {
  background: rgba(0,0,0,.3);
}
.dark-theme.dark-theme.fr-desktop .fr-modal-wrapper .fr-modal-head .fr-modal-tags a.fr-selected-tag {
  background: #2e2e2e;
}
.dark-theme.dark-theme.fr-desktop .fr-modal-wrapper div.fr-modal-body div.fr-image-list div.fr-image-container .fr-delete-img:hover {
  background: #bf4644;
  color: #ffffff;
}
.dark-theme.dark-theme.fr-desktop .fr-modal-wrapper div.fr-modal-body div.fr-image-list div.fr-image-container .fr-insert-img:hover {
  background: rgba(0,0,0,.3);
}
.dark-theme .fr-line-breaker {
  border-top: 1px solid rgb(112, 195, 169);
}
.dark-theme .fr-line-breaker a.fr-floating-btn {
  left: calc(50% - (32px / 2));
  top: -16px;
}
.dark-theme .fr-qi-helper {
  padding-left: 10px;
}
.dark-theme .fr-qi-helper a.fr-btn.fr-floating-btn {
  color: #ffffff;
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-body .fr-special-characters-modal .fr-special-character {
  border: 1px dotted #ccc;
}
.dark-theme .fr-element table td.fr-selected-cell,
.dark-theme .fr-element table th.fr-selected-cell {
  border: 1px double rgb(112, 195, 169);
}
.dark-theme .fr-table-resizer div {
  border-right: 1px solid rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-table-size .fr-select-table-size {
  line-height: 0;
}
.dark-theme.fr-popup .fr-table-size .fr-select-table-size > span {
  padding: 0px 4px 4px 0;
}
.dark-theme.fr-popup .fr-table-size .fr-select-table-size > span > span {
  border: 1px solid #dddddd;
}
.dark-theme.fr-popup .fr-table-size .fr-select-table-size > span.hover > span {
  background: rgba(66, 165, 245, 0.3);
  border: solid 1px rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-table-colors {
  line-height: 0;
}
.dark-theme.fr-popup .fr-table-colors > span > i {
  bottom: 0;
  left: 0;
}
.dark-theme.fr-popup .fr-table-colors > span:focus {
  outline: 1px solid #ffffff;
}
.dark-theme .fr-element .fr-video::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dark-theme.fr-box .fr-video-resizer {
  border: solid 1px rgb(112, 195, 169);
}
.dark-theme.fr-box .fr-video-resizer .fr-handler {
  background: rgb(112, 195, 169);
  border: solid 1px #ffffff;
}
.dark-theme.fr-box .fr-video-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .dark-theme.fr-box .fr-video-resizer .fr-handler {
	width: 10px;
	height: 10px;
  }
  .dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
	left: -5px;
	top: -5px;
  }
  .dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
	right: -5px;
	top: -5px;
  }
  .dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
	left: -5px;
	bottom: -5px;
  }
  .dark-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
	right: -5px;
	bottom: -5px;
  }
}
.dark-theme .fr-video-upload-layer {
  border: dashed 2px rgba(255,255,255,0.7);
  padding: 25px 0;
}
.dark-theme .fr-video-upload-layer:hover {
  background: rgba(0,0,0,.3);
}
.dark-theme .fr-video-upload-layer.fr-drop {
  background: rgba(0,0,0,.3);
  border-color: rgb(112, 195, 169);
}
.dark-theme .fr-video-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dark-theme .fr-video-progress-bar-layer > h3 {
  margin: 10px 0;
}
.dark-theme .fr-video-progress-bar-layer > div.fr-loader {
  background: #c6e4fc;
}
.dark-theme .fr-video-progress-bar-layer > div.fr-loader span {
  background: rgb(112, 195, 169);
  -webkit-transition: width 0.2s ease 0s;
  -moz-transition: width 0.2s ease 0s;
  -ms-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
}
.dark-theme .fr-video-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.dark-theme.fr-video-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dark-theme .fr-view *{
    -webkit-transition: 0s !important;
       -moz-transition: 0s !important;
         -o-transition: 0s !important;
            transition: 0s !important;
}
.dark-theme .fr-view span[style~="color:"] a {
  color: inherit;
}
.dark-theme .fr-view strong {
  font-weight: 700;
}
.dark-theme .fr-view table.fr-alternate-rows tbody tr:nth-child(2n) {
  background: #d3d3d3;
}
.dark-theme .fr-view table td,
.dark-theme .fr-view table th {
  border: 1px solid #dddddd;
}
.dark-theme .fr-view table th {
  background: #e6e6e6;
}
.dark-theme .fr-view[dir="rtl"] blockquote {
  border-right: solid 2px #5e35b1;
  margin-right: 0;
}
.dark-theme .fr-view[dir="rtl"] blockquote blockquote {
  border-color: #00bcd4;
}
.dark-theme .fr-view[dir="rtl"] blockquote blockquote blockquote {
  border-color: #43a047;
}
.dark-theme .fr-view blockquote {
  border-left: solid 2px #5e35b1;
  margin-left: 0;
  color: #5e35b1;
}
.dark-theme .fr-view blockquote blockquote {
  border-color: #00bcd4;
  color: #00bcd4;
}
.dark-theme .fr-view blockquote blockquote blockquote {
  border-color: #43a047;
  color: #43a047;
}
.dark-theme .fr-view span.fr-emoticon {
  line-height: 0;
}
.dark-theme .fr-view span.fr-emoticon.fr-emoticon-img {
  font-size: inherit;
}
.dark-theme .fr-view .fr-text-bordered {
  padding: 10px 0;
}
.dark-theme .fr-tooltip {
  top: 0;
  left: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  background: #4C5866;
  color: #ffffff;
  font-size: 11px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: 0.35s ease 0s;
  -moz-transition: 0.35s ease 0s;
  -ms-transition: 0.35s ease 0s;
  -o-transition: 0.35s ease 0s;
  z-index: 999999999 !important;
}
.fr-tooltip{
	z-index: 999999999 !important;
}
.dark-theme.fr-toolbar .fr-command.fr-btn,
.dark-theme.fr-popup .fr-command.fr-btn {
  color: #ffffff !important;
  -moz-outline: 0;
  outline: 0 !important;
  border: 0 !important;
  margin: 0px 2px;
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  padding: 0 !important;
  width: 38px;
  height: 38px;
}
.dark-theme.fr-toolbar .fr-command.fr-btn::-moz-focus-inner,
.dark-theme.fr-popup .fr-command.fr-btn::-moz-focus-inner {
  border: 0;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-btn-text,
.dark-theme.fr-popup .fr-command.fr-btn.fr-btn-text {
  width: auto;
}
.dark-theme.fr-toolbar .fr-command.fr-btn i,
.dark-theme.fr-popup .fr-command.fr-btn i {
  font-size: 14px;
  width: 14px;
  margin: 12px 12px;
}
.dark-theme.fr-toolbar .fr-command.fr-btn span,
.dark-theme.fr-popup .fr-command.fr-btn span {
  font-size: 14px;
  line-height: 17px;
  min-width: 38px;
  height: 17px;
  padding: 0 2px;
}
.dark-theme.fr-toolbar .fr-command.fr-btn img,
.dark-theme.fr-popup .fr-command.fr-btn img {
  margin: 12px 12px;
  width: 14px;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-active,
.dark-theme.fr-popup .fr-command.fr-btn.fr-active {
  color: rgb(112, 195, 169);
  background: transparent;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-selection,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-selection {
  width: auto;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown i,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown i,
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown span,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown span,
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown img,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown img {
  margin-left: 8px;
  margin-right: 16px;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active {
  color: rgb(112, 195, 169);
  background: transparent;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus {
  background: transparent !important;
  color: rgb(112, 195, 169) !important;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus::after,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus::after {
  border-top-color: #ffffff !important;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.dark-theme.fr-popup .fr-command.fr-btn.fr-dropdown::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  right: 4px;
  top: 17px;
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-disabled,
.dark-theme.fr-popup .fr-command.fr-btn.fr-disabled {
  color: rgba(255,255,255,0.4);
}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-disabled::after,
.dark-theme.fr-popup .fr-command.fr-btn.fr-disabled::after {
  border-top-color: rgba(255,255,255,0.4) !important;
}
.dark-theme.fr-toolbar.fr-disabled .fr-btn,
.dark-theme.fr-popup.fr-disabled .fr-btn,
.dark-theme.fr-toolbar.fr-disabled .fr-btn.fr-active,
.dark-theme.fr-popup.fr-disabled .fr-btn.fr-active {
  color: #808080;
}
.dark-theme.fr-toolbar.fr-disabled .fr-btn.fr-dropdown::after,
.dark-theme.fr-popup.fr-disabled .fr-btn.fr-dropdown::after,
.dark-theme.fr-toolbar.fr-disabled .fr-btn.fr-active.fr-dropdown::after,
.dark-theme.fr-popup.fr-disabled .fr-btn.fr-active.fr-dropdown::after {
  border-top-color: #808080;
}
.dark-theme.fr-desktop .fr-command:hover,
.dark-theme.fr-desktop .fr-command:focus {
  outline: 0;
  color: #70c3a9;
  background: transparent;
}
.dark-theme.fr-desktop .fr-command:hover::after,
.dark-theme.fr-desktop .fr-command:focus::after {
  border-top-color: #ffffff !important;
}
.dark-theme.fr-desktop .fr-command.fr-selected {
  color: #ffffff;
  background: transparent;
}
.dark-theme.fr-desktop .fr-command.fr-active:hover,
.dark-theme.fr-desktop .fr-command.fr-active:focus {
  color: rgb(112, 195, 169);
  background: rgba(0,0,0,.3);
}
.dark-theme.fr-desktop .fr-command.fr-active.fr-selected {
  color: rgb(112, 195, 169);
  background: #2e2e2e;
}
.dark-theme.fr-toolbar.fr-mobile .fr-command.fr-blink,
.dark-theme.fr-popup.fr-mobile .fr-command.fr-blink {
  background: transparent;
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu {
  right: auto;
  bottom: auto;
  height: auto;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper {
  background: #4C5866;
  padding: 0;
  margin: auto;
  -webkit-transition: max-height 0.2s ease 0s;
  -moz-transition: max-height 0.2s ease 0s;
  -ms-transition: max-height 0.2s ease 0s;
  -o-transition: max-height 0.2s ease 0s;
  margin-top: 0;
  max-height: 0;
  height: 0;
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content {
  overflow: auto;
  max-height: 275px;
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list {
  margin: 0;
  padding: 0;
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li {
  padding: 0;
  margin: 0;
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a {
  color: inherit;
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-active {
  background: rgb(112, 195, 169);
}
.dark-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-disabled {
  color: #808080;
}
.dark-theme .fr-command.fr-btn.fr-active + .fr-dropdown-menu {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
}
.dark-theme .fr-command.fr-btn.fr-active + .fr-dropdown-menu .fr-dropdown-wrapper {
  height: auto;
  max-height: 275px;
}
.dark-theme .fr-bottom > .fr-command.fr-btn + .fr-dropdown-menu {
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dark-theme.fr-modal {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dark-theme .fr-special-characters-modal{
	color: #333;
}
.dark-theme.fr-modal .fr-modal-wrapper {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 20px auto;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.19), 0 4px 3px 1px rgba(0, 0, 0, 0.14);
  border: 0px;
  /*border-top: 5px solid #4C5866;*/
}
@media (min-width: 768px) and (max-width: 991px) {
  .dark-theme.fr-modal .fr-modal-wrapper {
	margin: 30px auto;
  }
}
@media (min-width: 992px) {
  .dark-theme.fr-modal .fr-modal-wrapper {
	margin: 50px auto;
  }
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-head {
  background: #4C5866;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.14);
  border-bottom: 0px;
  -webkit-transition: height 0.2s ease 0s;
  -moz-transition: height 0.2s ease 0s;
  -ms-transition: height 0.2s ease 0s;
  -o-transition: height 0.2s ease 0s;
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-head i {
  color: #ffffff;
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-head i.fr-modal-close {
  top: 0;
  right: 0;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
}
.dark-theme.fr-modal .fr-modal-wrapper .fr-modal-head h4 {
  margin: 0;
  font-weight: 400;
}
.dark-theme.fr-modal .fr-modal-wrapper div.fr-modal-body:focus {
  outline: 0;
}
.dark-theme.dark-theme.fr-desktop .fr-modal-wrapper .fr-modal-head i:hover {
  background: rgba(0,0,0,.3);
}
.dark-theme.fr-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
}
.dark-theme.fr-popup {
  color: #ffffff;
  background: #4C5866;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
  border-top: 5px solid #4C5866;
  z-index: 99999999;
}
.dark-theme.fr-popup .fr-input-focus {
  background: rgba(255,255,255,0.2);
}
.dark-theme.fr-popup.fr-above {
  border-top: 0;
  border-bottom: 5px solid #4C5866;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
}
.dark-theme.fr-popup .fr-input-line {
  padding: 8px 0;
}
.dark-theme.fr-popup .fr-input-line input[type="text"],
.dark-theme.fr-popup .fr-input-line textarea {
  margin: 0px 0 1px 0;
  border-bottom: solid 1px #bdbdbd;
  color: #ffffff;
}
.dark-theme.fr-popup .fr-input-line input[type="text"]:focus,
.dark-theme.fr-popup .fr-input-line textarea:focus {
  border-bottom: solid 2px rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-input-line input + label,
.dark-theme.fr-popup .fr-input-line textarea + label {
  top: 0;
  left: 0;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  background: #4C5866;
}
.dark-theme.fr-popup .fr-input-line input.fr-not-empty:focus + label,
.dark-theme.fr-popup .fr-input-line textarea.fr-not-empty:focus + label {
  color: rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-input-line input.fr-not-empty + label,
.dark-theme.fr-popup .fr-input-line textarea.fr-not-empty + label {
  color: #808080;
}
.dark-theme.fr-popup .fr-buttons {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  padding: 0 2px;
  line-height: 0;
  border-bottom: 0px;
}
.dark-theme.fr-popup .fr-layer {
  width: 225px;
}
@media (min-width: 768px) {
  .dark-theme.fr-popup .fr-layer {
	width: 300px;
  }
}
.dark-theme.fr-popup .fr-action-buttons button.fr-command {
  color: rgb(112, 195, 169);
  -webkit-transition: background 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
}
.dark-theme.fr-popup .fr-action-buttons button.fr-command:hover,
.dark-theme.fr-popup .fr-action-buttons button.fr-command:focus {
  background: rgba(0,0,0,.3);
  color: rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-action-buttons button.fr-command:active {
  background: #2e2e2e;
  color: rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-action-buttons button::-moz-focus-inner {
  border: 0;
}
.dark-theme.fr-popup .fr-checkbox span {
  border: solid 1px #ffffff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -moz-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -ms-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
}
.dark-theme.fr-popup .fr-checkbox input {
  margin: 0;
  padding: 0;
}
.dark-theme.fr-popup .fr-checkbox input:checked + span {
  background: rgb(112, 195, 169);
  border-color: rgb(112, 195, 169);
}
.dark-theme.fr-popup .fr-checkbox input:focus + span {
  border-color: rgb(112, 195, 169);
}
.dark-theme.fr-popup.fr-rtl .fr-input-line input + label,
.dark-theme.fr-popup.fr-rtl .fr-input-line textarea + label {
  left: auto;
  right: 0;
}
.dark-theme.fr-popup .fr-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #4C5866;
  top: -9px;
  margin-left: -5px;
}
.dark-theme.fr-popup.fr-above .fr-arrow {
  top: auto;
  bottom: -9px;
  border-bottom: 0;
  border-top: 5px solid #4C5866;
}
.dark-theme.fr-toolbar {
	color: #ffffff;
	background: #4C5866;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	opacity: 1;
	visibility: visible;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2), 0 1px 1px 3px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2), 0 1px 1px 3px rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2), 0 1px 1px 3px rgba(0, 0, 0, 0.16);
	border: 0px;
	z-index: 99999998;
	/*border-top: 5px solid #4C5866;*/
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;

	-moz-animation-name: fadeInToolbar;
	-webkit-animation-name: fadeInToolbar;
	-ms-animation-name: fadeInToolbar;
	animation-name: fadeInToolbar;
	-moz-animation-duration: .3s;
	-webkit-animation-duration: .3s;
	-ms-animation-duration: .3s;
	animation-duration: .3s;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	-ms-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards; 
}

@-moz-keyframes fadeOutToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		-moz-transform: translateY(0px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-moz-transform: translateY(50px);
	}
}

@-webkit-keyframes fadeOutToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateY(0px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(50px);
	}
}

@-ms-keyframes fadeOutToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		-ms-transform: translateY(0px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-ms-transform: translateY(50px);
	}
}

@-keyframes fadeOutToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(0px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(50px);
	}
}

.dark-theme.fr-toolbar.fadeOutToolbar {
	-moz-animation-name: fadeOutToolbar;
	-webkit-animation-name: fadeOutToolbar;
	-ms-animation-name: fadeOutToolbar;
	animation-name: fadeOutToolbar;
}

@-moz-keyframes fadeInToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		-moz-transform: translateY(50px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-moz-transform: translateY(0px);
	}
}

@-webkit-keyframes fadeInToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateY(50px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0px);
	}
}

@-ms-keyframes fadeInToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		-ms-transform: translateY(50px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		-ms-transform: translateY(0px);
	}
}

@-keyframes fadeInToolbar {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
}


.dark-theme.fr-toolbar.fr-inline .fr-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #4C5866;
  top: -9px;
  margin-left: -5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.dark-theme.fr-toolbar.fr-inline.fr-above {
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 1px 1px rgba(0, 0, 0, 0.16);
  border-bottom: 5px solid #4C5866;
  border-top: 0;
}
.dark-theme.fr-toolbar.fr-inline.fr-above .fr-arrow {
  top: auto;
  bottom: -9px;
  border-bottom: 0;
  border-top-color: inherit;
  border-top-width: 5px;
}
.dark-theme.fr-toolbar.fr-top {
  top: 0;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.dark-theme.fr-toolbar.fr-bottom {
  bottom: 0;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.dark-theme .fr-separator {
  background: rgba(255,255,255,0.1);
}
.dark-theme .fr-separator.fr-vs {
  height: 34px;
  width: 1px;
  margin: 2px;
}
.dark-theme .fr-separator.fr-hs {
  height: 1px;
  width: calc(100% - (2 * 2px));
  margin: 0 2px;
}

.editor--editable-mode{
	padding-bottom: 38px;
}

.editor--editable-mode .fr-box p:hover,
.editor--editable-mode .fr-box h1:hover,
.editor--editable-mode .fr-box h2:hover,
.editor--editable-mode .fr-box h3:hover,
.editor--editable-mode .fr-box h4:hover,
.editor--editable-mode .fr-box h5:hover,
.editor--editable-mode .fr-box h6:hover,
.editor--editable-mode .fr-box a:hover,
.editor--editable-mode .fr-box ul:hover,
.editor--editable-mode .fr-box p:focus,
.editor--editable-mode .fr-box h1:focus,
.editor--editable-mode .fr-box h2:focus,
.editor--editable-mode .fr-box h3:focus,
.editor--editable-mode .fr-box h4:focus,
.editor--editable-mode .fr-box h5:focus,
.editor--editable-mode .fr-box h6:focus,
.editor--editable-mode .fr-box a:focus,
.editor--editable-mode .fr-box ul:focus
{
	background-color: rgba(243, 156, 18, .1);
	outline: none;
}

.fr-toolbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

#editor--buttons{
	position: fixed;
	display: block;
	bottom: 60px;
	right: 60px;
	z-index: 999999999;
}

#editor--buttons > a{
	color: #FFF;
	font-size: 24px;
	width: 50px;
	height: 50px;
	display: inline-block;
	background-color: #70c3a9;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	border-radius: 50%;
	text-align: center;
	padding-top: 8px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
}

#editor--buttons #triggerAddButton{
	color: #FFF;
	font-size: 15px;
	width: 32px;
	height: 32px;
	display: inline-block;
	background-color: #16a085;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	border-radius: 50%;
	text-align: center;
	padding-top: 6px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	margin-top: 10px;
	right: 10px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 3;
}

#editor--buttons .addButtons:hover{ cursor: pointer; }

#editor--buttons:not(.edit) .addButtons.hover #triggerAddButton{
	-webkit-transform: scale(1.2) rotate(45deg);
	-ms-transform: scale(1.2) rotate(45deg);
	-o-transform: scale(1.2) rotate(45deg);
	transform: scale(1.2) rotate(45deg);
}

#editor--buttons .addButtons .editor--create{
	color: #FFF;
	font-size: 14px;
	width: 28px;
	height: 28px;
	display: inline-block;
	background-color: #16a085;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	margin-top: 13px;
	right: 12px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 2;
}

#editor--buttons:not(.edit) .addButtons.hover .editor--create{
	-webkit-transform: translateX(-45px);
	-ms-transform: translateX(-45px);
	-o-transform: translateX(-45px);
	transform: translateX(-45px);
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

#editor--buttons:not(.edit) .addButtons.hover .editor--create:nth-child(1){
	-webkit-transform: translateX(-40px);
	-ms-transform: translateX(-40px);
	-o-transform: translateX(-40px);
	transform: translateX(-40px);
}

#editor--buttons:not(.edit) .addButtons.hover .editor--create:nth-child(2){
	-webkit-transform: translateX(-85px);
	-ms-transform: translateX(-85px);
	-o-transform: translateX(-85px);
	transform: translateX(-85px);
}

#editor--buttons .addButtons{
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

#editor--buttons > a:hover{
	cursor: pointer;
}

#editor--buttons.edit .addButtons{
	-webkit-transform: translateX(120px);
	-ms-transform: translateX(120px);
	-o-transform: translateX(120px);
	transform: translateX(120px);
}

#editor--buttons #editButton{
	background-image: url(../images/icon-edit.png);
	background-color: #42a5f5;
	-webkit-transform: translateX(120px);
	-ms-transform: translateX(120px);
	-o-transform: translateX(120px);
	transform: translateX(120px);
}

#editor--buttons #closeButton{
	background-image: url(../images/icon-close.png);
	background-color: #bf4644;
	-webkit-transform: translateX(120px);
	-ms-transform: translateX(120px);
	-o-transform: translateX(120px);
	transform: translateX(120px);
}

#editor--buttons #loadingButton{
	background-image: url(../images/icon-loading.png);
	background-color: #42a5f5;

	-webkit-transform: translateX(120px);
	-ms-transform: translateX(120px);
	-o-transform: translateX(120px);
	transform: translateX(120px);
}

#editor--buttons #saveButton{
	background-image: url(../images/icon-save.png);
	background-color: #43a047;
	-webkit-transform: translateX(120px);
	-ms-transform: translateX(120px);
	-o-transform: translateX(120px);
	transform: translateX(120px);
}

#editor--buttons.edit.active:not(.loading) #saveButton{
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

#editor--buttons.loading #loadingButton{
	-webkit-animation-name: spinIcon;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinIcon;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinIcon;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spinIcon;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

#editor--buttons:not(.edit) #editButton{
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

#editor--buttons.edit #closeButton{
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

#editor--buttons.edit.active #closeButton{
	-webkit-transform: translateX(-60px);
	-ms-transform: translateX(-60px);
	-o-transform: translateX(-60px);
	transform: translateX(-60px);
}

@-moz-keyframes spinIcon {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinIcon {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spinIcon {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/*
FLASH
 */

#editor--alert {
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	border-radius: 0;
	margin: 0px;
	color: #ffffff;
	text-shadow: none;
	text-align: left;
	box-shadow: 6px 0 10px rgba(33,33,33,0.3);
	overflow: hidden;
	position: fixed;
	padding: 9px 30px 9px 15px;
	z-index: 999999999;
}

#editor--alert.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s, width 0s;
  transition: all 0.5s, width 0s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
#editor--alert.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#editor--alert .flash-icon{
	background-color: rgba(0,0,0,0.4);
	float: left;
	padding: 13px 16px;
	height: 100%;
	margin: -10px 10px -10px -15px;
}

#editor--alert.success {
  background: #8da85e;
}
#editor--alert.error {
  background: #cc3300;
}
#editor--alert.warning {
  background: #f0ad4e;
}
#editor--alert.info {
  background: #5fb6f5;
}


#editor--blocks-toolbar{
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
	padding: 2px;
	margin: 0;
	/*background-color: #70c3a9;*/
	background-color: rgba(76, 88, 102, 0.6);
	background-color: #363F49;
	border-top: 1px solid #363F49;
	box-shadow: 0 3px 12px rgba(0,0,0,0.3);
	bottom: 38px;

	-webkit-transform: translateY(110px);
	-ms-transform: translateY(110px);
	-o-transform: translateY(110px);
	transform: translateY(110px);

	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	z-index: 99999997;
}

#editor--blocks-toolbar.open{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

#editor--blocks-toolbar .editor--blocks-list{
	list-style: none;
	padding: 3px;
	overflow: hidden;
	word-wrap: nowrap;
}

#editor--blocks-toolbar .editor--blocks-list li{
	display: inline-block;
	padding: 6px 10px;
	background-color: #fff;
	box-shadow: 0 0 14px rgba(0,0,0,0.3);
	height: 48px;
	border-radius: 3px;
	margin-right: 6px;
	min-width: 150px;
	width: auto;
	color: #333;
	float: left;
}

#editor--blocks-toolbar .editor--blocks-list li i{
	color: #333;
	display: inline-block;
	float: left;
	margin-right: 10px;
	height: 48px;
	font-size: 22px;
	margin-top: 6px;
}

#editor--blocks-toolbar .editor--blocks-list li .editor--block-icon{
	display: inline-block;
	float: left;
	margin-right: 10px;
	height: 48px;
	font-size: 22px;
	margin-top: 0px;
}

#editor--blocks-toolbar .editor--blocks-list li h4{
	color: #333;
	font-size: 18px;
	padding: 0;
	margin: 0;
	line-height: 22px;
	white-space: nowrap;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    display: inline-block;
    padding-right: 10px;
}

#editor--blocks-toolbar .editor--blocks-list li p{
	color: #888;
	/*padding: 0 15px 10px;*/
    /*margin-top: 8px;*/
    font-size: 10px;
    line-height: 1em;
    padding-right: 10px;
}

#editor--subtoolbar{
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 30px;
	padding: 2px;
	margin: 0;
	/*background-color: #70c3a9;*/
	background-color: rgba(76, 88, 102, 0.6);
	background-color: #363F49;
	border-top: 1px solid #363F49;
	box-shadow: 0 3px 12px rgba(0,0,0,0.3);
	bottom: 38px;

	-webkit-transform: translateY(80px);
	-ms-transform: translateY(80px);
	-o-transform: translateY(80px);
	transform: translateY(80px);

	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	z-index: 99999997;
}

#editor--subtoolbar.open{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

#editor--subtoolbar #frClasses{
	background-color: #FFF;
	border-radius: 2px;
	color: #333;
	float: left;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	margin-left: 4px;
	padding: 0 4px;
	position: relative;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	border: none;
	min-width: 100px;
	outline: none;
}

#editor--subtoolbar .fr-tag {
	background-color: #2980b9;
	border-radius: 2px 0 0 2px;
	color: #fff;
	cursor: pointer;
	float: left;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	margin-left: 8px;
	padding: 0 14px;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .35);
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}
#editor--subtoolbar .fr-tag:after {
	border-style: solid;
	border-bottom: 12px solid rgba(255, 0, 0, 0);
	border-left: 12px solid #2980b9;
	border-right: none;
	border-top: 12px solid rgba(255, 0, 0, 0);
	content: '';
	display: block;
	height: 24px;
	bottom: 0;
	right: -24px;
	position: absolute;
	width: 24px;
	-moz-transform: scale(.9999);
	z-index: 999;
}
#editor--subtoolbar .fr-tag:first-child {
	margin-left: 0
}
#editor--subtoolbar .fr-tag:hover {
	background-color: #4aa3df
}
#editor--subtoolbar .fr-tag:hover:after {
	border-left-color: #4aa3df
}
#editor--subtoolbar .fr-tag:nth-child(1) {
	background-color: #8e44ad
}
#editor--subtoolbar .fr-tag:nth-child(1):after {
	border-left-color: #8e44ad
}
#editor--subtoolbar .fr-tag:nth-child(1):hover {
	background-color: #9b50ba
}
#editor--subtoolbar .fr-tag:nth-child(1):hover:after {
	border-left-color: #9b50ba
}
#editor--subtoolbar .fr-tag:nth-child(2) {
	background-color: #2980b9
}
#editor--subtoolbar .fr-tag:nth-child(2):after {
	border-left-color: #2980b9
}
#editor--subtoolbar .fr-tag:nth-child(2):hover {
	background-color: #2e8ece
}
#editor--subtoolbar .fr-tag:nth-child(2):hover:after {
	border-left-color: #2e8ece
}
#editor--subtoolbar .fr-tag:nth-child(3) {
	background-color: #27ae60
}
#editor--subtoolbar .fr-tag:nth-child(3):after {
	border-left-color: #27ae60
}
#editor--subtoolbar .fr-tag:nth-child(3):hover {
	background-color: #2cc36b
}
#editor--subtoolbar .fr-tag:nth-child(3):hover:after {
	border-left-color: #2cc36b
}
#editor--subtoolbar .fr-tag:nth-child(4) {
	background-color: #d35400
}
#editor--subtoolbar .fr-tag:nth-child(4):after {
	border-left-color: #d35400
}
#editor--subtoolbar .fr-tag:nth-child(4):hover {
	background-color: #ed5e00
}
#editor--subtoolbar .fr-tag:nth-child(4):hover:after {
	border-left-color: #ed5e00
}
#editor--subtoolbar .fr-tag:nth-child(5) {
	background-color: #f39c12
}
#editor--subtoolbar .fr-tag:nth-child(5):after {
	border-left-color: #f39c12
}
#editor--subtoolbar .fr-tag:nth-child(5):hover {
	background-color: #f4a62a
}
#editor--subtoolbar .fr-tag:nth-child(5):hover:after {
	border-left-color: #f4a62a
}
#editor--subtoolbar .fr-tag:nth-child(6) {
	background-color: #16a085
}
#editor--subtoolbar .fr-tag:nth-child(6):after {
	border-left-color: #16a085
}
#editor--subtoolbar .fr-tag:nth-child(6):hover {
	background-color: #19b698
}
#editor--subtoolbar .fr-tag:nth-child(6):hover:after {
	border-left-color: #19b698
}

.taggle_list {
	float: left;
	width: 100%; 
	padding-left: 8px;
}

.taggle_input {
	border: none;
	outline: none;
	/*font-size: 16px;*/
	/*font-weight: 300; */
}

.taggle_list li {
	float: left;
	display: inline-block;
	white-space: nowrap;
	font-weight: 500;
	/*margin-bottom: 5px; */
}

.taggle_list .taggle, .fr-clear-all {
	/*margin-right: 8px;
	padding: 2px 10px;*/
	border-radius: 2px;
	cursor: pointer;
	transition: all .3s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; 
	position: relative;

	background: #4aa3df;
	color: #fff;
	cursor: pointer;
	float: left;
	font-weight: 700;
	height: 20px;
	line-height: 20px;
	margin-top: 2px;
	margin-left: 2px;
	padding: 0 14px;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .35)
}

.fr-clear-all{
	height: 24px;
	margin-top: 0;
	padding: 1px 10px;
	background-color: #bf4644;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.taggle_list .taggle_hot {
	background: #cac8c4; 
}

.taggle_list .taggle .close {
	font-size: 18px;
	position: absolute;
	top: 4px;
	right: 5px;
	text-decoration: none;
	padding-left: 8px;
	/*padding-top: 3px;*/
	line-height: 0.5em;
	color: #fff;
	/*color: rgba(0, 0, 0, 0.2);*/
	padding-bottom: 4px;
	display: none;
	border: 0;
	background: none;
	cursor: pointer; 
	opacity: 0.5;
}

.taggle_list .taggle:hover {
	/*padding: 5px;*/
	padding-right: 20px;
	background: #2980b9;
	transition: all .3s; 
}

.taggle_list .taggle:hover > .close {
	display: block; 
}

.taggle_list .taggle .close:hover {
	color: #fff; 
	opacity: .8;
}

.taggle_placeholder {
	position: absolute;
	color: #ccc;
	/*top: 12px;*/
	left: 16px;
	font-weight: 300;
	transition: opacity, .25s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.taggle_input {
	/*padding: 8px;*/
	padding-left: 0;
	float: left;
	margin-top: 2px;
	margin-left: 4px;
	background: none;
	width: 100%;
	max-width: 300px; 
	font-weight: 700;
	height: 20px;
	line-height: 20px;
}

.taggle_sizer {
	padding: 0;
	margin: 0;
	position: absolute;
	top: -500px;
	z-index: -1;
	visibility: hidden; 
}

.taggle_bounce {
	-webkit-animation-name: bounceTag;
	animation-name: bounceTag;
}

@-webkit-keyframes bounceTag {
  0%, 20%, 50%, 80%, 100% {
	-webkit-transform: translateY(0); }
  40% {
	-webkit-transform: translateY(-16px); }
  60% {
	-webkit-transform: translateY(-7px); } }

@keyframes bounceTag {
  0%, 20%, 50%, 80%, 100% {
	-webkit-transform: translateY(0);
			transform: translateY(0); }
  40% {
	-webkit-transform: translateY(-16px);
			transform: translateY(-16px); }
  60% {
	-webkit-transform: translateY(-7px);
			transform: translateY(-7px); } }

.bounce {
  -webkit-animation-name: bounce;
		  animation-name: bounce; }

.editor--block-content{
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
}

[draggable=true] {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
	-khtml-user-drag: element;
}

.editor--block{
	opacity: 1;
	transform:translateX(0px);
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.editor--block:hover{
	cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.editor--block:active { 
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.editor--ondrag{
	opacity: 0;
	transform:translateX(-9999px);
}

.imglykit-container .imglykit-header-row{
	display: none;
}

body #editor--image-editor{
	position: fixed !important;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	visibility: hidden;
	opacity: 0;
	z-index: 999999999999;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	-webkit-box-shadow: 0 0 14px #000;
	box-shadow: 0 0 14px #000;
	-webkit-transform: translateY(100px);
	-ms-transform: translateY(100px);
	-o-transform: translateY(100px);
	transform: translateY(100px);
}

body.editor--image-editor-active #editor--image-editor{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

body.editor--image-editor-active:before{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 9999999999;
}

.imglykit-btn{
	cursor: pointer;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	color: rgba(255, 255, 255, 0.4);
	padding: 0 10px !important;
	display: none;
}

.imglykit-btn img{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    margin-right: 5px;
    vertical-align: middle;
}
.fr-dropdown-list pre{
	color: #fff;
	border: none;
	background-color: transparent;
}
.fr-view [data-template-append]:after, .fr-view [data-template-prepend]:before{
	content: '';
}
.fr-view [data-template-append]:hover{
	border-bottom: 1px dashed #16a085;
}
.fr-view [data-template-prepend]:hover{
	border-top: 1px dashed #16a085;
}
.fr-view [data-template-append]:hover:after, .fr-view [data-template-prepend]:hover:before{
	content: '+';
	color: #FFF;
	font-size: 18px;
	width: 28px;
	height: 24px;
	display: inline-block;
	background-color: #16a085;
	border-radius: 0 0 3px 3px;
	text-align: center;
	padding-top: 0px;
	position: absolute;
	margin-left: -14px;
	left: 50%;
	font-family: Arial;
	/*z-index: 2;*/
	cursor: pointer;
}
.fr-view [data-template-prepend]:hover:before{
	border-radius: 3px 3px 0 0;
	margin-top: -24px;
}